
.s-cencer {
    padding: 1rem;
}
.skills-descrip {
    background: #c6c2c267;
    height: 60%;
    border-top-left-radius: 20px;
}
.skills-title {
    letter-spacing: 3px;
    font-size: 1.5rem;
    font-weight: 800;
    margin-bottom: 1.5rem; 
}
.skills-sub_title {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: larger;
}
.skills__component {
    display: grid;
    grid-template-columns: repeat(3, 420px);
    justify-content: space-evenly;
    align-items: flex-start;
    background: #f1c47639;
    border-radius: 15px;
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 2rem;
}
.skills-content {
    padding: 1rem 1rem;
    border-radius: 20px;
    transition: 0.3s;
}
.skills-content:hover{
    padding: 0.5rem;
    border: none;
    box-shadow: 1px 1px 2px 2px gray;
}
.skills-item-block:hover{
    background: rgba(255, 255, 255, 0.581);
}
    
.skills-item-block {
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.442);
    transition: 0.4s;
}

.skills-item-name {
    display: flex;
    align-items: center;
    justify-content: center;
}
.skills-title{
    text-align: center;
}
.skills-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}
.skills-group {
    display: flex;
    flex-direction: column;

}
.skills-data {
    margin-right: 2%;
}
.skills .bx-badge-check {
    font-size: 1rem;
    margin: 1rem;

}
.skills-level {
    align-items: center;
    display: flex;
    flex-direction:column;
}
@media screen and (max-width: 1100px){
    .skills__component {
        display: grid;
        grid-template-columns: repeat(2, 350px);
        align-items: center;
        margin: 0;
    }
    .skills-content {
        display: flex;
        flex-direction: column;

    }
    .skills-content {
        border: none;
    }

}
@media screen and (max-width: 450px) {
    .skills__component {
        display: grid;
        grid-template-columns: repeat(1, 350px);
        align-items: center;
        margin: 0;
    }
    .skills-content {
        display: flex;
        flex-direction: column;

    }
    .skills-content {
        border: none;
    }
  }