.s {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.s-cencer {
    padding: 1rem 6rem 1rem 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 92vh;
}
.skills-descrip {
    background: #eac0b284;
    height: 60%;
    border-top-left-radius: 20px;
}
.skills-title {
    letter-spacing: 1px;
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 1.5rem; 
}
.skills-sub_title {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: larger;
}
.skills-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.skills__component {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    /* background: #f1c47639; */
    border-radius: 15px;
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 2rem 1rem 2rem 1rem;
    
}
.skills-content {
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem;
    border-radius: 20px;
    transition: 0.3s;
    background: #f1c47639;
    animation:  fade 2s ;
    margin: 1rem 0.5rem 1rem 0.5rem;
}
@keyframes fade {
    0% {
        opacity: 20%;
         height: 0%;
         width: 0%;
    }

    100% {
        opacity: 100%;
         height: 100%;
         width: 100%;
    }
}
.skills-item-block {
    margin-bottom: 1rem;
    padding: 0.5rem 2rem 0.5rem 2rem;
    border-radius: 20px;
    transition: 0.4s;
}
.skills-item-block:hover {
    letter-spacing: 2px;
    margin-bottom: 1rem;
    padding: 2rem 0.2rem 2rem 0.2rem;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.442);
    transition: 0.4s;
    animation:  fade 2s ;
    font-size: 100%;
}

.skills-item-name {
    display: flex;
    align-items: center;
    justify-content: center;
}
.skills-title{
    text-align: center;
    cursor: pointer;
}
.skills-title:hover + .skills-box{
    display: block;
    letter-spacing: 2px;
    animation: fade_in_show 0.5s   
}
@keyframes fade_in_show {
    0% {
         opacity: 0;
         transform: scale(0)
    }

    100% {
         opacity: 1;
         transform: scale(1)
    }
}
.cv-button {
    border: none;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #eac0b284;
    color: inherit;
    font-weight: 500;
    cursor: pointer;
    letter-spacing: 2px;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    transition: 0.3s;
}


.skills-box {
    display: none;
    justify-content: center;
    flex-direction: column; 
}

.skills-box:hover {
    display: block;
    justify-content: center;
    flex-direction: column; 
}
.skills-group {
   display: grid;
   grid-template-columns: repeat(3, 10rem);
}
.skills-group-frontend {
   display: grid;
   grid-template-columns: repeat(3, 200px);
}
.skills-data {
    margin-right: 2%;
}
.skills .bx-badge-check {
    font-size: 1rem;
    margin: 1rem;

}
.skills-level {
    align-items: center;
    display: flex;
    flex-direction:column;
}
.cv-item {
    padding: 1rem 2rem;
    background-color: #f1c47639;
    display: flex;
    flex-direction: column;
    border-radius:10px;
}
@media screen and (max-width: 1100px){
    .s-cencer {
        padding: 1rem 4rem 1rem 4rem;
        height: auto;
    }
    .skills__component {
        display: grid;
        grid-template-columns: repeat(1, 40rem);
        flex-direction: row;
        align-items: center;
        margin: 0;
    }
    .skills-content {
        display: flex;
        flex-direction: column;

    }
    .skills-content {
        border: none;
    }
    .skills-group {
        display: grid;
        grid-template-columns: repeat(2, 10rem);
    }
}
@media screen and (max-width: 825px){
    .skills__component {
        display: grid;
        grid-template-columns: repeat(1, 25rem);
        align-items: center;
        margin: 0;
    }
    .skills-content {
        display: flex;
        flex-direction: column;

    }
    .skills-content {
        border: none;
    }
    .skills-group {
        display: grid;
        grid-template-columns: auto;
    }
    .skills-group-frontend {
        display: grid;
        grid-template-columns: auto;
    }
}

@media screen and (max-width: 450px) {
    .s-cencer {
        padding: 1rem;
        height: auto;
    }
    .skills__component {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
    }
    .skills-group-frontend {
        display: grid;
        grid-template-columns: auto;
    }

    .skills-content {
        display: flex;
        flex-direction: column;
        border: none;
        box-shadow: none;
        padding: none;
        margin: 1rem;
    }
    .skills-content:hover {
        border: none;
        box-shadow: none;
        background: #f1c4767d; 
    }
    .skills-title {
        font-size: xx-large;
    }
    .skills-group {
        display: grid;
        grid-template-columns: repeat(1, 10rem);
    }
}