.c-wrapper {
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 8rem;
  transition: all 0.3s;
}

.c-left {
  width: fit-content;
  display: flex;
  padding: 2rem;
  flex-direction: column;
  background: #eac0b284;
  border-radius: 15px;
  margin: 1rem;
  overflow-y: hidden;
  transition-duration: 0.4s;
}

.c-left:hover {
  padding-left: 2rem;
  margin-left: 1rem;
  transition-duration: 0.8s;
}

.c-right {
  transition: 0.3s;
}

.c-right:hover {
  padding-right: 2rem;
  transition: 0.4s;
}

.c-title {
  font-size: 65px;
  width: 80%;
  margin-bottom: 2rem;
}

.c-info {
  display: flex;
  flex-direction: column;
  width: 70%;
  position: relative;
  z-index: 888;
}

.c-info-item {
  display: flex;
  align-items: start;
  margin: 10% 0px;
  font-weight: 300;
  justify-content: flex-start;
  overflow: hidden;
}

.link-name {
  font-size: xx-large;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 3px;
  color: inherit;
  transition: 0.2s;
}

.text-hover-call,
.text-hover-send {
  opacity: 0;
  position: absolute;
  transition: 0.3s;
  font-size: 1rem;
}

.link-name:hover .text-call,
.link-name:hover .text-send {
  opacity: 0;
  position: absolute;
  transition: 0.3s;
  font-size: 1rem;
}

.link-name:hover .text-hover-call,
.link-name:hover .text-hover-send {
  opacity: 1;
  font-size: large;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  color: inherit;
  background: #eac0b284;
  padding: 1rem;
  position: absolute;
  width: max-content;
  transition: 0.3s;
}

.bxl-linkedin,
.bxl-zoom,
.bxl-instagram {
  font-size: 50px;
  margin-right: 10%;
}

.contact-desc {
  margin-bottom: 3rem;
}

.pre-contact_desc {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 40px;
  margin-bottom: 3rem;
  background: #eac0b284;
  padding: 4px;
}

.c-desc {
  width: 90%;
  font-weight: 300;
  align-items: start;
  display: flex;
  flex-direction: column;
  padding-top: 30px;
}

form {
  margin-top: 20px;
  width: 90%;
  display: flex;
  flex-direction: column;
}

input,
textarea {
  width: 100%;
  margin: 10px 0px;
  padding-left: 10px;
  border: none;
  border-radius: 2px;
  letter-spacing: 2px;
  transition: 0.3s;
}

input:hover,
textarea:hover {
  width: 100%;
  margin: 5px 0px;
  font-size: 18px;
  padding-left: 10px;
  border: none;
  border-radius: 5px;
  transition: 0.3s;
  border: 2px solid #eac0b284;
}

textarea {
  padding: 5px;
  outline: none;
  margin-bottom: 2rem;
  font-size: 16px;
  transition: 0.4s;
}

input:focus,
textarea:focus {
  border: 2px solid #eac0b284;
}

.contact-btn {
  border: none;
  width: 35%;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #eac0b284;
  color: inherit;
  font-weight: 500;
  cursor: pointer;
  letter-spacing: 2px;
  margin-bottom: 2rem;
  transition: 0.3s;
}

.contact-btn:hover {
  border: none;
  width: 38%;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #eac0b28d;
  color: white;
  font-weight: 600;
  cursor: pointer;
  letter-spacing: 3px;
  border-radius: 10px;
  transition: 0.2s;
}

.contact-btn:active {
  border: none;
  width: 40%;
  padding: 10px;
  background-color: rgba(234, 192, 178, 0.67);
  color: white;
  font-weight: 800;
  cursor: pointer;
  letter-spacing: 3px;
  border-radius: 17px;
  transition: 0.2s;
  font-size: x-large;
}

.footer-component {
  display: flex;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  background: rgba(234, 192, 178, 0.52);
}

@media screen and (max-width: 1080px) {
  .c-wrapper {
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }
  .c-title {
    font-size: xx-large;
    margin-bottom: 2rem;
    position: relative;
  }
  .c-left {
    width: fit-content;
    display: flex;
    margin: 1rem;
    flex-direction: column;
    background: rgba(234, 192, 178, 0.52);
    border-radius: 15px;
    transition-duration: 0.1s;
  }
  .c-info-item {
    display: flex;
    align-items: start;
    margin: 10% 0px;
    font-weight: 300;
    justify-content: flex-start;
    overflow: visible;
  }
  .c-info {
    display: flex;
    flex-direction: column;
    width: 90%;
    position: relative;
  }
  .c-left:hover {
    padding-top: 1rem;
    margin-left: 0%;
    transition-duration: 0.8s;
  }
  .link-name:hover .text-hover-send,
  .link-name:hover .text-hover-call {
    opacity: 1;
    font-size: 0.8rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    color: inherit;
    background: rgba(234, 192, 178, 0.89);
    padding: 1rem;
    position: absolute;
    width: min-content;
    border-radius: 20px;
    transition: 0.3s;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  }
  form {
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  input {
    width: 100%;
    height: 50px;
    border: none;
    margin: 10px 0px;
    font-size: 14px;
    padding-left: 10px;
    border-radius: 2px;
    letter-spacing: 2px;
    transition: 0.3s;
    margin-bottom: 1rem;
  }
  input:hover {
    width: 100%;
    border: none;
    font-size: 16px;
    padding-left: 10px;
    border-radius: 5px;
    transition: 0.3s;
    border: 2px solid rgba(234, 192, 178, 0.52);
  }
  textarea {
    width: 100%;
    padding: 5px;
    margin: 10px 0px;
    font-size: 16px;
    padding-left: 10px;
    margin-bottom: 1rem;
  }
  textarea:hover {
    margin: 0;
    padding: 0;
  }
  .contact-btn {
    border: none;
    width: 100%;
    padding: 10px;
    background-color: rgba(234, 192, 178, 0.52);
    color: inherit;
    font-weight: 500;
    cursor: pointer;
    letter-spacing: 2px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    transition: 0.3s;
  }
  .contact-btn:hover {
    border: none;
    width: 100%;
    padding: 10px;
    background-color: rgba(234, 192, 178, 0.52);
    color: inherit;
    font-weight: 500;
    cursor: pointer;
    letter-spacing: 2px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    transition: 0.3s;
  }
  .contact-btn:active {
    border: none;
    width: 90%;
    padding: 10px;
    background-color: rgba(234, 192, 178, 0.67);
    color: white;
    font-weight: 800;
    cursor: pointer;
    letter-spacing: 3px;
    border-radius: 17px;
    transition: 0.2s;
    font-size: x-large;
  }
}

@media screen and (max-width: 414px) {
  .c-wrapper {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
  }
  .c-title {
    font-size: xx-large;
    margin-bottom: 1rem;
    position: relative;
  }
  .c-left {
    width: fit-content;
    display: flex;
    flex-direction: column;
    background: rgba(234, 192, 178, 0.52);
    border-radius: 15px;
    transition-duration: 0.1s;
  }
  .c-left:hover {
    padding: 0.5rem;
    margin: none;
  }
  .c-right:hover {
    padding: 0.5rem;
    transition: 0.4s;
  }
  .c-desc {
    width: 100%;
    font-weight: 300;
    align-items: start;
    display: flex;
    border-radius: 5px;
    flex-direction: column;
    padding-top: 20px;
  }
  .pre-contact_desc {
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 40px;
    margin-bottom: 2rem;
    background: rgba(234, 192, 178, 0.39);
    padding: 1rem;
  }
  .c-left:hover {
    padding: 2.5rem;
    margin: 0;
    height: max-content;
  }
}

.bxl-linkedin,
.bxl-zoom,
.bxl-instagram {
  font-size: 30px;
  margin-right: 10%;
}

.c-info-item {
  display: flex;
  align-items: start;
  font-weight: 300;
  justify-content: flex-start;
  overflow: visible;
}

.c-info {
  display: flex;
  flex-direction: column;
  width: 90%;
  position: relative;
}

.link-name {
  font-size: large;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 3px;
  color: inherit;
  transition: 0.2s;
}

.c-left:active {
  padding: 1rem;
  margin-left: 0%;
  transition-duration: 0.8s;
}

.c-right {
  padding: 0 1rem;
  transition: 0.3s;
}

.link-name:hover .text-hover-send,
.link-name:hover .text-hover-call {
  opacity: 1;
  font-size: 0.7rem;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  color: inherit;
  background: #eac0b2e4;
  padding: 0.5rem;
  position: absolute;
  width: min-content;
  border-radius: 20px;
  transition: 0.3s;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  z-index: 999;
}

form {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0;
  align-items: center;
}

input,
textarea {
  width: 100%;
  margin: 10px 0px;
  padding-left: 10px;
  letter-spacing: 2px;
  transition: 0.3s;
}

input {
  height: 50px;
  border: none;
  font-size: 14px;
  border-radius: 2px;
  margin-bottom: 1rem;
}

input:hover {
  font-size: 16px;
  border-radius: 5px;
  border: 2px solid #eac0b284;
}

textarea {
  padding: 5px;
  font-size: 16px;
  margin-bottom: 1rem;
}

textarea:hover {
  margin: 0;
  padding: 0;
}

.contact-btn {
  border: none;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #eac0b284;
  color: inherit;
  font-weight: 500;
  cursor: pointer;
  letter-spacing: 2px;
  margin-top: 2rem;
  margin-bottom: 2rem;
  transition: 0.3s;
}

.contact-btn:hover {
  background-color: #eac0b284;
  color: inherit;
  font-weight: 500;
  cursor: pointer;
  letter-spacing: 2px;
  margin-top: 2rem;
  margin-bottom: 2rem;
  transition: 0.3s;
}

.contact-btn:active {
  width: 90%;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #eac0b2aa;
  color: white;
  font-weight: 800;
  cursor: pointer;
  letter-spacing: 3px;
  border-radius: 17px;
  transition: 0.2s;
  font-size: x-large;
}

.footer-component {
  display: flex;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background: #eac0b284;
  flex-direction: column;
}

.button-lang {
  padding: 1rem 0.3rem;
}