.i {
  display: flex;
  padding: 2rem;
  height: 100vh;
  overflow: hidden;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  background: #e9baaa1d;
  overflow-y: hidden;
  position: relative;
  
}


.i-left {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 998;
  position: relative;
}
.land-btn {
  height: 2rem;
  border: none;
  padding: 15px;
  background-color: #c6c2c267;
  color: white;
  font-weight: 500;
  cursor: pointer;
  margin: 5px;
  z-index: 999;
}
.i-right {
  flex: 1;
  position: relative;

}

.i-left-wrapper {
  padding: 50px;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.i-intro {
  font-size: 30px;
  font-weight: 300;
  z-index: 999;z-index: 999;
}

.i-name {
  font-size: 60px;
  z-index: 999;
}

.i-title {
  height: 50px;
  overflow: hidden;
  z-index: 999;
}

.i-title-wrapper {
  height: 100%;
  animation: move 10s ease-in-out infinite alternate;
  z-index: 999;
}

@keyframes move {
  25% {
    transform: translateY(-50px);
  }
  50% {
    transform: translateY(-100px);
  }
  75% {
    transform: translateY(-150px);
  }
  100% {
    transform: translateY(-200px);
  }
}

.i-title-item {
  z-index: inherit;
  height: 50px;
  font-size: 30px;
  font-weight: bold;
  color: #9EB384;
  display: flex;
  align-items: center;
  z-index: 999;
}



.i-img {
  width: 100%;
  height: 100%;
  object-fit:cover;
  position: absolute;
  z-index: 999;
  top:90px;
  overflow: hidden;

}

.i-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 10%;
  right: 2px;
  z-index: 2;
  object-fit: cover;
  animation: kenburns-left 25s linear both;
}
@keyframes kenburns-left {
  0% {
    transform: scale(1) translate(0, 0);
    transform-origin: 16% 50%;
  }
  100% {
    transform: scale(1.25) translate(-20px, 15px);
    transform-origin: left;
  }
}
@media screen and (max-width: 846px) {
  .i {
    display: flex;
    align-items: stretch;
    height: 80vh;
    overflow: hidden;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    background: #9eb3843c;
    overflow-y: hidden;
    position: relative;
}
.i-desc {
  background: #9eb3848d;
  padding: 1rem;
  width: 60%;
  border-radius: 10px;
  background-attachment: fixed;
}
  .i-left-wrapper {
    padding: 1rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .i-right {
    display: none;
  }
  .i-desc{
    background: #9eb3848d;
    padding: 1rem;
    border-radius: 10px;
    opacity: 99;
  }
}
@media screen and (max-width: 390px) {
  .i-left-wrapper {
    padding: 1rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .i-right {
    display: none;
  }
  .i-desc {
    width: auto;
    background: #9eb3848d;
    padding: 1rem;
    border-radius: 10px;
    opacity: 99;
}
}