.t {
    border-radius: 20px;
    top: 90%;
    left: 90%;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

.t:active {
    scale: 105%;
    border-radius: 25px;
    background: inherit;
}

.bx-moon {
    position: absolute;
    font-size: 3rem;
    transition: 0.3s;
}

.bx-moon:hover {
    font-size: 3.3rem;
    color: #fff;
    border-radius: 50%;
}

.t-button {
    width: 49px;
    height: 49px;
    border-radius: 50%;
    cursor: pointer;
}

@media screen and (max-width: 414px) {
    /* Add your media query styles here */
}