body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.load {
  height: 100vh;
  padding: 4rem;
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 5rem;
  text-align: center;
}
.load-box {
  background: #9eb3848d;
  border-radius: 20px;
  padding: 2rem;
  height: 20%;
}
